*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #666;
    align-items: center;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    width: 100vw;
}

.pageHeader{
    margin-top: 20px;
    display: flex;
    justify-self: center;
    align-items: center;

}
.pageHeader__header{
    
    font-size: 50px;
}

.selectSection{
    margin-top: 100px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectSection__select{
    font-size: 22px;
    background-color: inherit;
    border: white 2px solid;
    outline: none;
    font-family: 'Press Start 2P', cursive;
    padding: 3px;
}
.determineMatrix{
    margin-top: 100px;
    width: 75%;
    padding: 5px;
    border: 1px solid black;
    display: none;
    align-items: center;
    justify-content: space-evenly;
}
.determineInput{
    width: 50px;
    font-size:22px;
}
.determineMatrix__determineSize{
    display: none;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.inputMatrixDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.matrix_input{
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 25px;

}
.matrixTable{
    border: blanchedalmond 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 3px;
}
.choseValues{
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 1px solid black;
    padding: 10px;
}
.sendButton1{
    width: 100px;
    height: 50px;
    font-size: 25px;
    margin-top: 15px;
    font-family: 'Press Start 2P', cursive;
    background-color: blanchedalmond;
    display: none;
    padding: 5px;
}
.sendButton2{
    width: 200px;
    height: 50px;
    font-size: 25px;
    margin-top: 15px;
    font-family: 'Press Start 2P', cursive;
    background-color: blanchedalmond;
    display: none;
    padding: 5px;
}
.resetButton{
    width: 200px;
    height: 50px;
    font-size: 25px;
    margin-top: 15px;
    font-family: 'Press Start 2P', cursive;
    background-color: blanchedalmond;
    display: none;
    padding: 5px;
}
.buttonsDiv{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}
.resultDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 50%;
    min-height: 20vh;
    margin-top: 20px;
    margin-bottom: 100px;
}
.oneNum{
    min-width: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resultMatrix{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.resultsMiniArr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.infoDiv{
    width: 400px;
    height: 150px;
    background:linear-gradient(to top,rgb(53, 73, 161),rgb(64, 175, 177));
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.9;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.infoDiv__span{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.infoDiv__close{
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    width: 25px;
    height: 25px;
    font-size: 20px;
    background:linear-gradient(to bottom,rgb(53, 73, 161),rgb(64, 175, 177));
}
.infoDiv__close:hover{
    background:linear-gradient(to bottom,rgb(44, 61, 138),rgb(50, 138, 139));
    cursor: pointer;
}

@media(max-width:900px){
    .choseValues{
        flex-direction: column;
    }
}